<!doctype html>
<html>
  <head>
    <title>Suzy Makeup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple-colors@0.2.0/dist/siimple-colors.min.css">
  </head>
  <style>
    .title
    {
      color: var(--siimple-pink);
    }

    .link{
      text-decoration: none;
      color: #57607c;
    }
    .button-link
    {
        text-decoration: none;
        color: #FFFFFF;
    }
  </style>
  <body>
    <div class="siimple-navbar siimple-navbar--pink siimple-navbar--fluid">
      <div class="siimple-layout--left">
        <a class="siimple-navbar-title">Hello, {{login_session.username}}</a>
      </div>
      <div class="siimple-layout--right">
        <a class="siimple-navbar-link" href="{{ url_for('gdisconnect') }}">Logout</a>
      </div>
    </div>
    <div class="siimple-grid">
      <!-- Content -->
      <div class="siimple-grid-row">
        <!--Menu-->
        <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col-md--12">
          <div class="siimple-box siimple-box--white">
          </div>
          <div class="siimple-box siimple-box--white"></div>
          <div class="siimple-box siimple-box--white"></div>
          <div class="siimple-box siimple-box--white"></div>
          <div class="siimple-box siimple-box--white">
            <div class="siimple-box-title title">Suzy Makeup</div>
            <div class="siimple-box-subtitle">ADMIN</div>
          </div>
          <div class="siimple-menu">
            <div class="siimple-menu-group">CATEGORIES</div>
            {% for c in categories %}
            <a class="siimple-menu-item" href="{{url_for('showItems', category_id = c.id)}}">{{ c.name }}</a>
            {% endfor %}
            <div class="siimple-menu-sub">
              <div class="siimple-menu-item"><a class="link" href = "{{url_for('newCategory')}}">Add New Category</a></div>
            </div>
          </div>
        </div>
        <!-- Main Content -->
        {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul class=flashes>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
         </ul>
        {% endif %}
      {% endwith %}
        <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-md--12">
          <div class="siimple-box siimple-box--white"></div>
          <div class="siimple-box siimple-box--white"></div>
          <div class="siimple-box siimple-box--white"></div>
          <div class="siimple-content">
            <div class="siimple-form">
              <form id="myform" action="{{ url_for('editCategory', category_id = category.id) }}" method = 'post'>
                <div class="siimple-form-title">Add New Category</div>
                <div class="siimple-form-detail">Fill the form to add new category.</div>
                <div class="siimple-box siimple-box--white"></div>
                <div class="siimple-form-field">
                  <div class="siimple-form-field-label">Name</div>
                  <input type="text" name="name" class="siimple-input" placeholder="{{ category.name }}">
                  <div class="siimple-form-field-helper">This field can't be empty</div>
                </div>
                <div class="siimple-box siimple-box--white"></div>
                <div class="siimple-form-field">
                  <div class="siimple-btn siimple-btn--pink"><a class="link" href="javascript:{}" onclick="document.getElementById('myform').submit(); return false;">Submit</a></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
