{% extends "admin/default_admin.html" %}

{% block content %}
          <div class="siimple-content">
            <div class="siimple-form">
              <form id="myform" action="{{ url_for('editCategory', category_id = category.id) }}" method = 'post'>
                <div class="siimple-form-title">Add New Category</div>
                <div class="siimple-form-detail">Fill the form to add new category.</div>
                <div class="siimple-box siimple-box--white"></div>
                <div class="siimple-form-field">
                  <div class="siimple-form-field-label">Name</div>
                  <input type="text" name="name" class="siimple-input" placeholder="{{ category.name }}">
                  <div class="siimple-form-field-helper">This field can't be empty</div>
                </div>
                <div class="siimple-box siimple-box--white"></div>
                <div class="siimple-form-field">
                  <div class="siimple-btn siimple-btn--pink"><a class="button-link" href="javascript:{}" onclick="document.getElementById('myform').submit(); return false;">Submit</a></div>
                </div>
              </form>
            </div>
          </div>
{% endblock %}
