{% extends "admin/default_admin.html" %}

{% block content %}
          <div class="siimple-content">
            <div class="siimple-form">
              <form id="myform" enctype="multipart/form-data" action="{{ url_for('editItem', category_id = category_id, item_id = item.id )}}" method = 'POST'>
                <div class="siimple-form-title">Edit Item</div>
                <div class="siimple-form-detail">Fill the form to edit item.</div>
                <div class="siimple-box siimple-box--white"></div>
                <div class="siimple-form-field">
                  <div class="siimple-form-field-label">Name</div>
                  <input type="text" name="name" class="siimple-input" placeholder="{{ item.name }}">
                  <div class="siimple-form-field-helper">This field can't be empty</div>
                </div>
                <div class="siimple-form-field">
                  <div class="siimple-form-field-label">Price</div>
                  <input type="text" name="price" class="siimple-input" placeholder="{{ item.price }}">
                  <div class="siimple-form-field-helper">This field can't be empty</div>
                </div>
                <div class="siimple-form-field">
                  <div class="siimple-form-field-label">Description</div>
                  <textarea class="siimple-textarea" name="description">{{ item.description }}</textarea>
                  <div class="siimple-form-field-helper">This field can't be empty</div>
                </div>
                <div class="siimple-form-field">
                  <div class="siimple-form-field-label">Photo</div>
                  <input type=file name=photo>
                  <div class="siimple-form-field-helper">This field can't be empty</div>
                </div>
                <div class="siimple-form-field">
                  <div class="siimple-btn siimple-btn--pink"><a class="link" href="javascript:{}" onclick="document.getElementById('myform').submit(); return false;">Submit</a></div>
                </div>
              </form>
            </div>
          </div>
{% endblock %}    
