bleach==2.1.2
chardet==2.3.0
click==6.7
Flask==0.12.2
Flask-BasicAuth==0.2.0
Flask-HTTPAuth==3.2.3
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
html5lib==1.0.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.10
language-selector==0.1
MarkupSafe==1.0
oauth2client==4.1.2
packaging==16.8
passlib==1.7.1
psycopg2==2.7.3.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycurl==7.43.0
pygobject==3.20.0
pyparsing==2.2.0
python-apt==1.1.0b1
python-debian==0.1.27
python-systemd==231
redis==2.10.6
requests==2.9.1
rsa==3.4.2
six==1.10.0
SQLAlchemy==1.2.1
ssh-import-id==5.5
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
webencodings==0.5.1
Werkzeug==0.14.1
WTForms==2.1
