<!doctype html>
<html>
<head>
<title>Suzy Makeup</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple-colors@0.2.0/dist/siimple-colors.min.css">

</head>
<style>
.title
{
  color: var(--siimple-pink);
}

</style>
<body>


  <div class="siimple-grid">


  <!-- Content -->
  <div class="siimple-grid-row">

    <!--Menu-->
    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col-md--12">
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">
        <div class="siimple-box-title title">Suzy Makeup</div>
      </div>
      <div class="siimple-menu">
          <a class="siimple-menu-item">Face</a>
          <a class="siimple-menu-item">Eyes</a>
          <a class="siimple-menu-item">Lips</a>
          <a class="siimple-menu-item">Tools and Brushes</a>
          <a class="siimple-menu-item">Accessories</a>
      </div>

    </div>
    <!-- Main Content -->
    <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-md--12">
      <div class="siimple-box siimple-box--white"></div>
      <div class="siimple-box siimple-box--white"></div>
      <div class="siimple-h3">Category Name</div>

      <div class="siimple-grid">
        <div class="siimple-grid-row">
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/lips1.jpg" />
              <div class="siimple-box-subtitle title">Cat Lipstick</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>
          </div>
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/eyes1.jpg" />
              <div class="siimple-box-subtitle title">Cat Eyeshadow</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>
          </div>
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/eyes2.jpg" />
              <div class="siimple-box-subtitle title">Cat Eyeshadow</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>
          </div>
        </div>
        <div class="siimple-grid-row">
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/eyes3.jpg" />
              <div class="siimple-box-subtitle title">Cat Eyeshadow</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>
          </div>
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/eyes4.jpg" />
              <div class="siimple-box-subtitle title">Cat Eyeshadow</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>
          </div>
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
              <div class="siimple-box siimple-box--white">
                <img src="img/brush1.jpg" />
                <div class="siimple-box-subtitle title">Cat Paw Brush</div>
                <div class="siimple-box-detail">$22.99</div>
              </div>
          </div>
        </div>
        <div class="siimple-grid-row">
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/access1.png" />
              <div class="siimple-box-subtitle title">Cat Band</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>
          </div>
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/access3.png" />
              <div class="siimple-box-subtitle title">Cat Pouch</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>
          </div>
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <img src="img/access4.png" />
              <div class="siimple-box-subtitle title">Cat Pouch</div>
              <div class="siimple-box-detail">$22.99</div>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>

</body>
</html>
