<!doctype html>
<html>
<head>
<title>Suzy Makeup</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple-colors@0.2.0/dist/siimple-colors.min.css">

</head>
<style>
.title
{
  color: var(--siimple-pink);
}

</style>
<body>


  <div class="siimple-grid">


  <!-- Content -->
  <div class="siimple-grid-row">

    <!--Menu-->
    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col-md--12">
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">

      </div>
      <div class="siimple-box siimple-box--white">
        <div class="siimple-box-title title">Suzy Makeup</div>
      </div>
      <div class="siimple-menu">
        {% for c in categories %}
        <a class="siimple-menu-item" href="{{url_for('indexCategory', category_id = c.id)}}">{{ c.name }}</a>
        {% endfor %}
      </div>

    </div>
    <!-- Main Content -->
    <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-md--12">
      <div class="siimple-box siimple-box--white"></div>
      <div class="siimple-box siimple-box--white"></div>
      <div class="siimple-h3">{{ category.name }}</div>

      <div class="siimple-grid">

        {% for i in items %}
        <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
          <div class="siimple-box siimple-box--white">
            <!-- <img src="img/lips1.jpg" /> -->
            <div class="siimple-box-subtitle title">{{ i.name }}</div>
            <div class="siimple-box-detail">{{ i.price }}</div>
          </div>
        </div>
        {% endfor %}

      </div>


    </div>
  </div>
</div>

</body>
</html>
