{% extends "default.html" %}

{% block content %}
      <div class="siimple-box siimple-box--white"></div>
      <div class="siimple-box siimple-box--white"></div>
      <div class="siimple-grid">
        <div class="siimple-grid-row">
          <div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white"></div>

          </div>
          <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">

              <img src="{{ url_for('static', filename = 'img/photos/'+item.photo_filename) }}" />
            </div>
          </div>
          <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col-md--12">
            <div class="siimple-box siimple-box--white">
              <div class="siimple-box-subtitle title">{{ item.name }}</div>
              <div class="siimple-box-detail">{{ item.description }}</div>
              <div class="siimple-box-subtitle">$ {{ item.price }}</div>
              <div class="siimple-btn siimple-btn--navy">Buy</div>
            </div>
          </div>
        </div>

      </div>

{% endblock %}
